<% include partials/header %>
<h1>You fell in love with: <%= thingVar %></h1>
<% if(thingVar.toLowerCase() === "beast"){ %>
  <p>You're a beast!</p>
<% } else { %>
  <p>Should have picked beast :c</p>
<% } %>
<% include partials/footer %>
