<p>[laughs menacingly] Good thing he didn't pull the secret string, opening the secret compartment of my secret box revealing one embarrassing snapshot of SpongeBob at the Christmas Party! Merry Christmas, SpongeBob! [laughs as the screen fades to black, ending the episode]</p>

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>
